body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
    background-color: #fafafa;
    padding: 10px;
}
.container h1{
    text-align: center;
    font-size: 1.5rem;
}
.picture-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.img{
    width: 175px;
    height: 175px;
    border-radius: 6px;
    border: 2px solid transparent;
}
img:hover{
    transform: scale(1.1);
}
.popup-img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
}
#dispcont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur 50px;
    border: 1px solid #d9d9d970;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#close{
    color: #fafafa;
    background-color: black;
    padding: 14px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: large;
}
#close:hover{
    backdrop-filter: blur 50px;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  @media (max-width: 780px) and (min-width: 500px){
    .container{
        width: fit-content;
    }
    .container h1{
        font-size: 1.5rem;
    }
    .img{
        width: 120px;
        height: 120px;
        border: 1px solid transparent;
    }  
  }

  @media (max-width: 501px) and (min-width: 300px){
    .container{
        width: fit-content;
    }
    .container h1{
        font-size: 1.2rem;
    }
    .img{
        width: 100px;
        height: 100px;
        border-radius: 6px;
        border: 1px solid transparent;
    }   
    
  }
