*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f0f0f0; 
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    margin-left: 80px;
    height: 500px;
}
.left, .right {
    flex: 1;
}

.title {
    width: 360px;
    font-size: 3rem;
    margin: 0;
    font-weight: 600;
}

.name {
    font-family: "Keania One", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.ocptn {
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
}
.first{
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #1c1c1c;
}
.second{
    border-radius: 0 10px 10px 0;
    border-left: 1px solid #1c1c1c;
}
.first, .second {
    background-color: #B8B7FF; 
    padding: 5px 10px;
}

.intro {
    margin: 20px 0;
    width: 100%;
    padding-right: 5rem;
    font-size: 1.2rem;
}

.icons{
    display: flex;
}
.icon{
    margin-right: 10px;
    color: #B8B7FF;
    padding: 8px;
    border: 1px solid #B8B7FF;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a{
    text-decoration: none;
}
#btnprimary {
    background-color: #B8B7FF; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}
#btnprimary span{
    margin-right: 10px;
}

#btnprimary:hover {
    background-color: #fafafa;
    border: 2px solid #B8B7FF;
    color: #B8B7FF;
}

.right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    height: 100vh;
    width: 100%;
    mask-image: linear-gradient(#000 10%, rgba(0, 0, 0, 0) 98%);

}

#profile {
    height: 100%;
    object-fit: cover;
    width: 100%; 
}

@media (max-width:1000px) {
    .intro{
        width: 90%;
        padding: 0;
        margin: 0;
    }
    body{
        flex-direction: column-reverse;
    }
    .left, .right{
        width: 100%;
        padding: 0;
    }
    .left{
        margin: 0 0 0.5rem 0.5rem;
        padding: 1rem;
    }
    #btnprimary{
        margin: 1rem 0;
    }
}



