body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

html {
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.head, .foot {
    padding: 1rem 0;
    border: 1px solid #a5a5a541;
    border-radius: 5px;
    background-color: #333333;
}
.foot{
    margin-top: 40px;
}

.head h1, .foot h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.speech {
    width: fit-content;
    margin-top: 15px;
    color: #f6f6f6;
}

.speech h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.speech p {
    width: 100%;
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 25px;
    color: #d9d9d9;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #333, rgb(255, 255, 255), #333) 1;
}

.engolf {
    border: 1px solid #a5a5a541;
    border-radius: 5px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
}

.phone, .intro {
    display: flex;
    align-items: top;
}

.icon {
    font-size: 3rem;
    margin-right: 20px;
    color: #B8B7FF;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.info p {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 5px;
    color: #d9d9d9;
}

.email {
    display: flex;
    flex-direction: column; 
}

textarea {
    background-color: #fafafa;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    resize: none;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px;
    width: 400px;
    height: 210px;
}

.email button {
    background-color: #B8B7FF;
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 40px;
    width: fit-content;
    border: none;
}

.email button:hover {
    background-color: #fafafa;
    border: 1px solid #B8B7FF;
}

#bar {
    background-color: #B8B7FF;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    margin-left: 15rem;
}

#sidebar {
    padding: 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.line {
    width: 0px;
    height: 30px;
    border: 2px solid black;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 200px;
}

.option a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
    text-align: center;
}

.icon-op {
    padding: 8px;
    color: #fafafa;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50px;
    margin-right: 5px;
}

.profile {
    mask-image: linear-gradient(180deg, #000 50%, rgba(0, 0, 0, 0));
    border-radius: 2px 2px 0 0;
}

#profile {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#hamburger{
    padding: 10px;
    color: #fafafa;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 100px;
    margin-right: 5px;
}
#ham{
    display: none;
}

#ham p{
  font-size: 1rem;
  margin: none;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    20% { transform: translateY(-20px); }
    40% { transform: translateY(20px); }
    60% { transform: translateY(-20px); }
    80% { transform: translateY(0); }
    100% { transform: translateY(0); }
}
@media (max-width: 500px) and (min-width: 300px) {
    #bar {
        position: fixed;
        top: 1rem;
        right: 30px;
        display: none; 
    }
    #ham{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 5rem;
        right: 1.5rem;
        color: #fff;
        animation-name: bounce;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
      .main{
        width: 100%;
      }
      .head{
        padding: 0;
    }
    .head h1 {
        font-size: 1.5rem;
    }
    .foot h1 {
        font-size: 1.2rem;
    }
    .speech h1 {
        font-size: 1.8rem;
    }
    .speech p {
        font-size: 1rem;
        width: 100%;
    }
    .engolf { 
        width: fit-content;
    }
    .container{
        flex-flow: row wrap;
    }
    .head, .foot {
        padding: 0;
    }
    .info h2 {
        font-size: 1.8rem;
    }
    .info p {
        font-size: 1rem;
        width: 100%;
    }
    .phone {
        margin-top: 40px;
    }
    textarea {
        width: 90%;
    }
    .container .phone{
        margin-top: 1rem;
    }
}
@media (max-width: 1000px) and (min-width: 501px){
    #bar {
        position: fixed;
        top: 1rem;
        right: 30px;
        display: none; 
    }
    .container {
        width: 100%;
    }
    #ham{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 5rem;
        right: 1.5rem;
        color: #fff;
        animation-name: bounce;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
    .container{
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .container .phone{
        margin-top: 1rem;
    }
}