body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
html{
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: fit-content;
}
.head{
    padding: 10px;
    width: 100%;
    border: 1px solid #a5a5a541;
    border-radius: 5px;
    background-color: #333333;
}
.head h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}
.speech{
    width: fit-content;
    margin-top: 15px;
    color: #f6f6f6;
}
.speech h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
.speech p{
    width: 50rem;
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 25px;
    color: #d9d9d9;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #333, rgb(255, 255, 255), #333) 1;
}
.engolf{
    width: 100%;
    border: 1px solid #a5a5a541;
    border-radius: 5px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
}
.foot{
    padding: 10px;
    width: 100%;
    border: 1px solid #a5a5a541;
    border-radius: 5px;
    background-color: #333333;
    margin-top: 40px;
}
.foot h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}
.phone, .intro{
    display: flex;
    align-items: top;
}
.icon{
    font-size: 3rem;
    margin-right: 20px;
    color: #B8B7FF;
}
.intro .icon{
    font-size: 3rem;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.info h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}
.info p{
    width: 20rem;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 5px;
    color: #d9d9d9;
}
.email{
    display: flex;
    flex-direction: column; 
}
textarea{
    background-color: #fafafa;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    resize: none;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px;
    width: 400px;
    height: 210px;
}
.email button{
    background-color: #B8B7FF;
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
    border-radius:5px;
    margin-top: 10px;
    padding: 10px 40px;
    width: fit-content;
    border: none;
}
.email button:hover{
    background-color: #fafafa;
    border: 1px solid #B8B7FF;
}
#bar{
    background-color: #b8b7ff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
#sidebar{
    padding: 10px 0;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.line{
    width: 0px;
    height: 30px;
    border: 2px solid black;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 200px;
}
.option a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
    text-align: center;
}
.icon-op{
    padding: 8px;
    color: #fafafa;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50px;
    margin-right: 5px;
}
.profile {
    mask-image: linear-gradient(180deg, #000 50%, rgba(0, 0, 0, 0) );
}

#profile{
    width: 300px;
    height: 250px;
    object-fit: cover;
}
#hamburger{
    padding: 2px;
    color: #fafafa;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 100px;
    margin-right: 5px;
    position: fixed;
    top: 6rem;
    right: 1.5rem;
}
#hamburger{
    display: none;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;
    top: 50px;
    right: 30px;
}

@media (max-width: 500px) and (min-width: 300px){
    #bar{
        display: none;
    }
    #hamburger{
        display: flex;
    }
    .head h1{
        font-size: 2.2rem;
    }
    .foot h1{
        font-size: 1.2rem;
    }
    .speech h1{
        font-size: 1.8rem;
    }
    .speech p{
        font-size: 1rem;
        width: 100%;
    }
    .engolf{ 
        width: fit-content;
    }
    .head, .foot{
        padding: 0;
    }
    .info h2{
        font-size: 1.8rem;
    }
    .info p{
        font-size: 1rem;
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .phone{
        margin-top: 40px;
    }
    textarea{
        width: 90%;
    }
}