body{
    display: flex;
    justify-content: center;
    background-color: #090909;
    font-family: sans-serif;
}
html{
    font-size: 20px;
}
.container{
    width: fit-content;
    background-color: #414141;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    line-height: 0.2rem;
}
#profile-pic{
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 10rem;
}
#profile h1{
    font-size: 1.5rem;
    color: #f3f3f3;
}
#profile h2{
    font-size: 0.8rem;
    color: #ADF802;
}
#profile h3{
    font-size: 0.8rem;
    color: #b2b2b2;
}
#social-links {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#social-links ul {
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

ul li {
    text-decoration: none;
    list-style-type: none;
    color: #f3f3f3;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #7a7a7a;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 15rem;
    display: flex; 
    justify-content: center;
    transition: ease-in-out 0.2s;
}
.active{
    background-color: #ADF802;
    color: #090909;
}
@media (max-width:768px) and (min-width:300px){
    #profile-pic{
        height: 6rem;
        width: 6rem;
    }
    .container{
        margin-top: 0.5rem;
        padding: 0 0.5rem;
    }
}

