/* Global Styles */

body {
    margin: 0;
      padding: 0;
      background-color: #1c1c1c;
      background-size: cover;
      background-repeat: no-repeat;
      font-family: "Ubuntu", sans-serif;
      font-style: normal;
  }
    
    html {
      font-size: 20px;
    }
  
    h1{
      font-size: 1.2rem;
      color: #fafafa;
      font-weight: 500;
    }
    .head{
      padding: 20px;
      width: 80%;
      border: 1px solid #a5a5a541;
      border-radius: 5px;
    }
    .head h1{
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    .container{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    #options{
      border: 1.5px solid #5252527d;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      background-color: #0000003b;
      backdrop-filter: blur(100px);
    }
    #options .opt{
      color: #d9d9d9;
      padding: 5px 10px;
      font-size: 0.8rem;
    }
    #options .opt:hover{
      color: #B8B7FF;
      cursor: pointer;
    }
    #options .selected{
      color: #8A87FF;
      border-bottom: 1px solid #8A87FF;
    }
  .ports{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 60rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
      height: 400px;
      border-radius: 20px;
      background-color: rgb(238, 238, 238);
    }
    
    .card-head {
      width: 100%;
      margin: 20px 0;
      font-size: 0.8rem;
      background-color: rgb(164, 164, 164);
      text-align: center;
      font-weight: 600;
    }
    
    .cont ,.cont2 {
      display: flex;
      padding: 5px 0;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 50%;
      border: 5px 0px solid;
      border-radius: 0 20px 20px 0;
      background-color: rgb(255, 255, 255);
    }
    
    .cont img {
      width: 35%;
      height: 150px;
      margin: 12px;
      border-radius: 10px;
      transition: all 0.5s;
    }
  
    .cont2 img{
      width: 175px;
      height: 125px;
      border-radius: 10px;
      transition: all 0.5s;
    }
    
    .cont img:hover, .cont2 img:hover {
      transform: scale(1.7);
    }
    
    .desc {
      text-align: center;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .desc a{
      text-decoration: none;
      color: rgb(77, 77, 77);
      margin: 10px 0;
      font-weight: 500;
    }
    .desc p{
      width: 200px;
      font-weight: 400;
      text-align: left;
      padding: 0 10px;
      margin: 10px 0;
    }
    .desc a:hover {
      color: #06318e;
    }
    #figma, #web{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 15px;
    }
    .grid-container {
      display: grid;
      width: fit-content;
      height: auto;
      background-color: #ffffff1f;
      backdrop-filter: blur(50px);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 35px;
      border-radius: 30px;
      padding: 20px;
      box-shadow: 0 0 20px #a5a5a575;
      margin: 20px;
    }
    .access{
      background-color: #5E78FF;
    }
    .access .card-head{
      background-color: #3f5fffe8;
    }
    .coffee{
      background-color: #EFCEAD;
    }
    .coffee .card-head{
      background-color: #edbe8fd8;
    }
    .tmnt{
      background-color: #82c0a1;
    }
    .tmnt .card-head{
      background-color: #71a58bdd;
    }
    .swap{
      background-color: #ffa053;
    }
    .swap .card-head{
      background-color: #fb8a2eea;
    }
    .dress{
      background-color: #f6ff00;
    }
    .dress .card-head{
      background-color: #dfe60eec;
    }
    .food{
      background-color: #00a347;
    }
    .food .card-head{
      background-color: #0f8d46e8;
    }
    .flix{
      background-color: #6a6a6a;
    }
    .flix .card-head{
      background-color: #494949e2;
    }
    .shop{
      background-color: #f5f5dc;
    }
    .shop .card-head{
      background-color: #e6e6cef4;
    }
    #bar{
      background-color: #B8B7FF;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 30px;
      right: 30px;
      margin-left: 10px;
  }
  #sidebar{
      padding: 10px 0;
  }
  .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
  }
  .line{
      width: 0px;
      height: 30px;
      border: 2px solid black;
  }
  .option{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      width: 200px;
  }
  .option a{
      text-decoration: none;
      color: #000000;
      font-size: 1rem;
      font-weight: 500;
      margin-left: 5px;
      text-align: center;
  }
  .icon-op{
      padding: 8px;
      color: #fafafa;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      border-radius: 50px;
      margin-right: 5px;
  }
  .profile {
      mask-image: linear-gradient(180deg, #000 50%, rgba(0, 0, 0, 0) );
  }
  
  #profile{
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: 2px 2px 0 0;
  }

  #hamburger{
    padding: 20px;
    color: #fafafa;
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 100px;
    margin-right: 5px;
    position: fixed;
    top: 15rem;
    right: 1.5rem;
}
#hamburger{
    display: none;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    position: fixed;
    top: 50px;
    right: 30px;
}

    @media (max-width: 500px) and (min-width: 300px){
      html{
        font-size: 20px;
      }
      #options .opt{
        font-size: 2rem;
      }
      h1{
        font-size: 2rem;
      }
      .head{
        margin: 40px 0;
      }
      .head h1{
        font-size: 3rem;
      }
      .card{
        height: fit-content;
      }
      .card-head {
        font-size: 1.5rem;
      }
      .desc p{
        width: 400px;
        padding: 0 15px;
      }
      .desc p, .desc a{
        font-size: 1.8rem;
      }
      .grid-container{
        gap: 80px ;
      }
      .cont img {
        width: 70%;
        height: 200px;
        margin: 12px;
        border-radius: 10px;
        transition: all 0.5s;
      }
      .cont2{
        padding: 20px 0
      }
    
      .cont2 img{
        width: 325px;
        height: 200px;
        border-radius: 10px;
        transition: all 0.5s;
      }
      #bar{
        display: none;
      }
      #hamburger{
        display: flex;
      }
      #sidebar{
        padding: 20px 0;
      }
      .content{
          margin: 10px;
      }
      .line{
          height: 60px;
      }
      .option{
          margin-bottom: 10px;
          width: 250px;
      }
      .option a{
          font-size: 2.5rem;
          margin-left: 5px;
          text-align: center;
      }
      .icon-op{
          padding: 10px;
          width: 30px;
          height: 30px;
          border-radius: 100px;
      }
      #profile{
        width: 500px;
        height: 400px;
      }
}