body{
    background-color: rgba(0,0,0,0.8)
}
.pos{
    position: absolute;
    top: 35%;
    left: 35%;
    color: yellow;
    font-size: 50px;
    text-shadow: 3px 3px 5px blue;
    transition-timing-function: ease-in;
    transition: width 2s, height 3s, transform 3s;
    
}
div:hover{
    transform: scale(2,1.5) rotate(360deg);
    box-shadow: 10px 10px 20px 20px;
}