*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100vw;
    background-image: linear-gradient(to left,red,purple);
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
.navbar li{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.logo{
    width: 100px;
    height: 60px;
}
/* Mid Section Styles */
#mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    flex: 1;
}
form{

    line-height: 50px;
}
input[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
}
select{
    width: 200px;
    height: 40px;
    font-size: 1.2em;
    margin: 5px 10px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: lightgrey;
    flex-wrap: wrap;
    width: 100vw;
}
footer section{
    flex-basis: 30%;
    text-align: center;
}
.imgs{
    width: 120px;
    height:120px;
    border-radius: 50%;
}
h1{
    font-size: 3rem;
}


@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar li {
        padding: 10px;
    }
    .logo {
        width: 60px;
        height: auto;
    }
    #close{
        top: 20px;
    }
    select {
        width: 100%;
    }
    footer section {
        flex-basis: 100%;
        margin-bottom: 20px;
}
select{
    display: block;
    width: 300px;
    height: 70px;
    font-size: 1.2em;
    margin: 10px;
}
}
