*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
/* Navbar Styles */
.navbar{
    background-image: linear-gradient(to left,red,purple);
    overflow: hidden;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.navbar li{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.logo{
    width: 100px;
    height: 60px;
}
/* Mid Section Styles */
#mid {
    text-align: center;
    margin-top: 50px;
    flex: 1;
}
form{
    line-height: 50px;
}
input[type="submit"] {
    font-size: 20px;
    padding: 10px 20px;
}
select{
    width: 200px;
    height: 40px;
    font-size: 1.2em;
    margin: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: lightgrey;
    flex-wrap: wrap;
}
footer section{
    flex-basis: 30%;
    text-align: center;
}
.imgs{
    width: 120px;
    height:120px;
    border-radius: 50%;
}
h1{
    font-size: 3rem;
}
.mins{
    padding: 10px;
    border-bottom: 1px solid #5e5e5e;
}
.mins li{
    padding: 5px 0;
}
.mins li:hover{
    border-radius: 5px;
    background-color: #d9d9d9;
    border: 0.5px solid #b9b9b9;
}
.logs{
    margin-top: 10px;
}
.logs button{
    margin: 5px;
}
#close{
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 20px;
}
#close:hover{
    background-color: #5e5e5e;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 60px;
        height: auto;
    }
    #close{
        top: 20px;
    }
    select {
        width: 100%;
    }
    footer section {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
