body {
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.cont{
    margin-top: 30px;
    width: 100%;
}
html {
    font-size: 20px;
}
.head{
    padding: 1rem 0;
    border: 1px solid #a5a5a541;
    border-radius: 5px;
    background-color: #333333;
}
  .head h1{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
.card{
    background-color: #f0f0f0;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    border: 4px solid #80808092;
    margin: 2rem;
}
.sub-title{
    background-color: #B8B7FF;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    font-weight: 600;
}
.institution{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.institution .left{
    margin-right: 5px;
    font-weight: 500;
}
.institution .right{
    margin-left: 5px;
    background-color: #fafafa;
    box-shadow: 0 0 10px #a5a5a581;
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    max-width: 200px;
}
.writeup{
    margin-top: 0.5rem;
    width: 20rem;
}
.ed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.education{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

#bar {
    background-color: #B8B7FF;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 1rem;
    right: 30px;
    margin-left: 10px;
    height: 90%;
}
#sidebar{
    padding: 10px 0;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.line{
    width: 0px;
    height: 30px;
    border: 2px solid black;
}
.option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 200px;
}

.option a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
    text-align: center;
}

.icon-op {
    padding: 8px;
    color: #fafafa;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 50px;
    margin-right: 5px;
}

.profile {
    mask-image: linear-gradient(180deg, #000 50%, rgba(0, 0, 0, 0) );
}

#profile{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
#hamburger{
    padding: 10px;
    color: #fafafa;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 100px;
    margin-right: 5px;
    border: 1px solid white;
}

#ham{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 6rem;
  right: 1.2rem;
  color: #fff;
}
#ham p{
  font-size: 1rem;
  margin: none;
}
#ham {
    display: none;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
@keyframes bounce {
    0% { transform: translateY(0); }
    20% { transform: translateY(-20px); }
    40% { transform: translateY(20px); }
    60% { transform: translateY(-20px); }
    80% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

@media (max-width: 500px) and (min-width: 300px) {
    main{
        align-items: center;
        padding: 0.5rem;
    }
    .container {
        padding: 15px;
        width: 100%;
    }
    .head{
        padding: 0;
    }
    .head h1 {
        font-size: 1.5rem;
    }
    #bar {
        display: none; 
    }
    #ham {
        display: flex; 
        animation-name: bounce;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .education{
        flex-direction: column;
    }
    .writeup{
        width: 15rem;
    }
    .card{
        margin: 1rem 0;
    }
}
@media (max-width: 1000px) and (min-width: 501px){
    #bar{
        display: none;
    }
    .container {
        padding: 15px;
        width: 100%;
    }
    #ham {
        display: flex; 
        animation-name: bounce;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .education{flex-direction: column;}
    .card{
        margin: 1rem 0;
    }
}