body{
    padding: 0;
    margin: 0;
}
#accord{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    background-color: rgba(0, 0, 255, 0.186);
    backdrop-filter: blur(100px);
    padding: 40px;
    border-radius: 5px;
    margin:12% 0 0 33%;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(104, 104, 104, 0.71);
    width: 500px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3333;
}
.icon{
    transform: rotate(-90deg);
}
.item{
    margin-bottom: 20px;
}
.ans{
    text-align: justify;
    width: 500px;
    display: none;
}